h5py==3.11.0
toml==0.10.2
fastapi==0.115.2
uvicorn==0.29.0
coverage==7.4.4
starlette==0.40.0
certifi==2024.7.4
requests==2.32.0
urllib3==2.2.2
setuptools==70.0.0
python-multipart==0.0.18
envyaml==1.10.211231
pydantic==1.10.17
#gluonts[torch]==0.15.0
joblib==1.4.2
packaging==23.1
gluonts[mxnet]==0.15.0
flatdict==4.0.1
